<h1>Users::Dashboard#index</h1>
<p>Find me in app/views/users/dashboard/index.html.erb</p>

<h1>Stocks</h1>
<table>
  <th>
    <tr>
      <td>Name</td>
      <td>Price</td>
    </tr>
  </th>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>