.container{
    background-color: #111827;
    min-height: 50vw;
    min-width: 100%;
    background-size: cover;
    padding-top: 5vw;
    overflow: hidden;
}
.forFonts{
    font-size: 1vw;
    color: rgb(218, 218, 218);
    margin-left: 2vw;
    background-color: #12244b;
    width: 10vw;
    height: 2vw;
    text-align: center;
    padding-top: .2vw;
    border-radius: 1vw;
}
.fontColor{
    color: blue;
}
.adminDashboard{
    min-width: 100%;
    text-align: center;
    font-size: 2vw;
    color: #ffffff;
}
.goBack{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}
.gobacktext{
    display: flex;
    width: 7vw;
    height: 2vw;
    font-size: 1vw;
    color: white;
    background-color: #12244b;
    padding: .2vw 0vw 0vw 1.6vw;
    border-radius: 1vw;
    
}